html {
background: rgb(31,31,31);
}

#blog {
border-style:solid;
border-color:gray;
border-width:1px;
border-radius:8px;
background:rgb(7,7,7);
color:white;
padding:8px;
margin:8px;
}

.jblogs-blogpost {
border-style:solid;
border-color:gray;
border-width:1px;
border-radius:8px;
padding:4px;
margin:4px;
}

.jblogs-metadata {
text-decoration:underline;
}

a {
  color:white;
  text-decoration:none;
  font-weight:lighter;
}

a:hover {
  font-decoration:underline;
  font-weight:normal;
}
